astunparse==1.6.3
brotlipy==0.7.0
flask==1.1.2
grep==0.3.2
jsonpickle==1.4.1
jupyter-kernel-gateway==2.4.2
keras==2.4.3
keras-adamw==1.36
mkl-fft
mkl-random
nltk==3.6.6
packaging==20.4
pickle-mixin==1.0.2
pip-chill==1.0.0
pipenv==2022.1.8
pipreqs==0.4.10
pylint==2.4.2
pyopenssl==19.1.0
pyreadline==2.1
pysocks==1.7.1
pywinpty==0.5.7
tensorboard-plugin-wit==1.7.0
tensorflow==2.9.3
tflearn==0.3.2
webencodings==0.5.1
win-inet-pton==1.1.0
wincertstore==0.2
numpy==1.19.1
